li {
  list-style-type: none
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.app-title {
  font-weight: bold;
  content: '';
  display: block;
  position: fixed;
  top: 0;
  margin-top: 3vh;
}

.results-container {
  max-width: 90vw;
  overflow: scroll;
}

.results-title {
  font-weight: 900;
  font-size: 60px;
}

.title {
  font-weight: bold;
  content: '';
  display: block;
}

.home-img {
  height: 40vw;
  width: 20vw;
  overflow: hidden;
  object-fit: cover;
}

.center {
  text-align: center;
}

.p-8 {
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.px-8 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.pxl-8 {
  padding-left: 2rem;
}

.pxr-8 {
  padding-right: 2rem;
}

.pyt-4 {
  padding-top: 1rem;
}

.pyb-8 {
  padding-bottom: 2rem;
}